{
  "require": [
    "babel-register",
    "babel-polyfill"
  ],
  "exclude": [
    "test/unit/**/*.js"
  ],
  "include": [
    "app/**/*.js"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".js"
  ],
  "cache": false,
  "report-dir": "test/unit/coverage",
  "sourceMap": false,
  "instrument": false,
  "all": true
}
